<h1>WELCOME TO TUTU</h1>
<p>Welcome! The date and time is <%= Time.now %></p>
<%= link_to 'Trains', trains_path %> <br>
<%= link_to 'Railway Stations', railway_stations_path %> <br>
<%= link_to 'Routes', routes_path %>
